<h1 class="header">NoteStack</h1>


<div class="menu-icon">
  <button class="menu"
          onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
          aria-label="Main Menu" (click)="menubar()">
    <svg width="35" height="35" viewBox="0 0 100 100">
      <path class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
      <path class="line line2" d="M 20,50 H 80"/>
      <path class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
    </svg>
  </button>
</div>


<button class="deleteButton" (click)="deleteAll()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
       viewBox="0 0 16 16">
    <path
      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
    <path
      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
  </svg>
</button>


<ng-container *ngIf="isMenuOpened">
  <div @fade style="display: flex; justify-content: center ">

    <div class="opened-menu">


      <label style="margin-left: 17px">Settings</label>
      <div style="display: flex; justify-content: center; ">
        <div style="height: 4px; width: 90%; background-color: #525252; border-radius: 4px"></div>
      </div>


      <select #selection (change)="colorPicker(selection.value);" name="color_themes" id="settings"
              style="margin-left: 17px; margin-top: 10px; border-radius: 10px; background-color: #939393">
        <option disabled selected>Color Theme</option>
        <option value="ocean">Ocean</option>
        <option value="candy">Candy</option>
        <option value="moonlight">Moonlight</option>
        <option value="skyline">Skyline</option>
        <option value="midnight">Midnight</option>
      </select>
      <br>

      <select #selection (change)="colorPicker(selection.value);" name="color_themes" id="settings"
              style="margin-left: 17px; margin-top: 10px; border-radius: 10px; background-color: #939393">
        <option disabled selected>Appearance</option>
        <option value="ocean">Dark-Mode</option>
        <option value="candy">Bright-Mode</option>
      </select>


    </div>
  </div>

</ng-container>
