.text-block {
  display: inline-block;
  margin-right: 10px;
  background-color: #e7e7e7;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(14, 0, 0, 0.2);
}

.text {
  background: none;
  border: none;
  min-height: 90px;
  min-width: 190px;
  max-height: 90px;
  max-width: 190px;
}
