<div style="display: flex; justify-content: center">
  <div class="break-line" style="">
  </div>
</div>


<div style="display: inline-block; width: 20px"></div>

<ng-container *ngFor="let index of list" style="">

  <ng-container *ngIf="maxHeight">
    <div @drop id="test1" class="text-block" #messageBlock>
      <textarea class="text" #textArea (change)="editBowValue(textArea.value, 0)">{{index}}</textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="!maxHeight">
    <div @slide id="test" class="text-block" #messageBlock>
      <textarea class="text" #textArea (change)="editBowValue(textArea.value, 0);">{{index}}</textarea>
    </div>
  </ng-container>

  <div @slide class="interline" (click)="addBox()"></div>
</ng-container>


<br>


<!--<p style="color: white">{{colorTheme}}</p>-->
