

<!--  <ng-container *ngFor="let index of list">-->
<!--    <div>-->

<!--      <div class="center-only-for-mobile">-->
<!--      <div class="text-block">-->
<!--        <textarea class="text"></textarea>-->
<!--      </div>-->
<!--      </div>-->


<!--      <div class="center-only-for-mobile">-->
<!--        <div class="interline" (click)="addBox()"></div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </ng-container>-->

<br>

<ng-container *ngFor="let index of list" style="margin-left: 10px">

  <div @fade class="text-block">
    <textarea class="text"></textarea>
  </div>


  <div @fade class="interline" (click)="addBox()"></div>
</ng-container>
