<!--  <ng-container *ngFor="let index of list">-->
<!--    <div>-->

<!--      <div class="center-only-for-mobile">-->
<!--      <div class="text-block">-->
<!--        <textarea class="text"></textarea>-->
<!--      </div>-->
<!--      </div>-->


<!--      <div class="center-only-for-mobile">-->
<!--        <div class="interline" (click)="addBox()"></div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </ng-container>-->

<br>

<!--<button (click)="getValue();">debug</button>-->
<div style="display: flex; justify-content: center">
  <div class="break-line" style="">

  </div>


</div>



<div style="display: inline-block; width: 20px"></div>

<ng-container *ngFor="let index of list" style="">




  <div @drop class="text-block">
    <textarea class="text" id="text-block"></textarea>
  </div>


  <div @slide class="interline" (click)="addBox()"></div>
</ng-container>


<br>

<!--<button onclick="alert(this.myVariableSubscription)">get value</button>-->
<!--<p style="color: white">{{this.myVariable}}</p>-->
