
.text-block {
  /*margin-left: 10px;*/
  transition: 0.3s;
  position: relative;
  top: 60px;
  display: inline-block;
  margin-right: 10px;
  background-color: #e7e7e7;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(14, 0, 0, 0.2);
}

.text-block:hover {
  transition: 0.3s;
  height: 105px;
  width: 205px;
}

.text {
  background: none;
  border: none;
  min-height: 90px;
  min-width: 190px;
  max-height: 90px;
  max-width: 190px;
}


.text-mobile {
  background: none;
  border: none;
  width: 100%;
}

.interline {
  transition: 0.3s;
  display: inline-block;
  position: relative;
  top: 70px;
  height: 100px;
  width: 5px;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 10px;
}

.interline:hover {
  transition: 0.3s;
  background-color: #4673f1;
  width: 5px;
}


/*rules for mobile*/
.center-only-for-mobile {
  /*margin-left: 20px;*/
}


.break-line {
  height: 2px;
  width: 95%;
  background-color: #939393;
  display: flex;
  justify-content: center
}


@media only screen and (max-width: 600px) {


  .break-line {
    height: 0px;
    width: 0%;
    background-color: #939393;
    display: flex;
    justify-content: center
  }

  .center-only-for-mobile {
    margin-left: 3%;

    display: flex;
    justify-content: center;
  }

  .interline:hover {
    transition: 0.3s;
    display: flex;
    position: relative;
    height: 6px;
    width: 90%;
    border-radius: 5px;
    top: 20px;
    background-color: royalblue;
  }

  .interline {

    transition: 0.3s;
    display: flex;
    position: relative;
    height: 6px;
    width: 90%;
    border-radius: 5px;
    justify-content: center;
    /*margin-top: 70px;*/
    margin-left: 5%;
    top: 20px;
    background-color: rgba(180, 180, 180, 0.48);
  }


  .text-block {
    margin-left: 5%;

    display: flex;
    transition: 0.3s;
    position: relative;
    top: 10px;
    background-color: #c94ea6;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    /*justify-content: center;*/
    box-shadow: 2px 2px 5px rgba(14, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-top: 20px;
  }


  .text-block:hover {
    display: flex;
    transition: 0.3s;
    position: relative;
    top: 10px;
    background-color: #b64796;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    /*justify-content: center;*/
    box-shadow: 2px 2px 5px rgba(14, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .text {
    background: none;
    border: none;
    min-width: 97%;
    margin-top: 5px;
    margin-left: 5px;

  }

}



