<div class="only-for-desktop" style="display: flex; justify-content: center">


  <div class="login-screen">
    <div class="center">
      <label class="headline">Login</label>

    </div>


    <div class="center">
      <input #username class="username-input" placeholder="Username" type="text">
      <label @slide *ngIf="!isUsernameValid" class="missing-username">enter username</label>

    </div>


    <div class="center">

      <input #password class="password-input" placeholder="Password" type="password">
      <label @slide *ngIf="!isPasswordValid" class="missing-password" style="">enter password</label>

    </div>

    <div class="center">

      <button class="login-button" (click)="login(username.value, password.value);">Login</button>
    </div>

  </div>

</div>
