<div @drop class="only-for-desktop" style="display: flex; justify-content: center">


  <div (keydown)="handleKey($event,username.value,password.value)" class="login-screen">
<!--    <div class="center">-->
<!--      <p class="AppName">NoteStack</p>-->

<!--    </div>-->

    <div class="center">
      <label class="headline">Login</label>

    </div>


    <div class="center">
      <input #username class="username-input" placeholder="Username" type="text">
      <label @slide *ngIf="!isUsernameValid" class="missing-username">enter username</label>

    </div>


    <div class="center">

      <input #password class="password-input" placeholder="Password" type="password">
      <label @slide *ngIf="!isPasswordValid" class="missing-password" style="">enter password</label>

    </div>

    <div class="center">

      <button class="login-button" (click)="login(username.value, password.value);">Login</button>
    </div>


    <div class="center" style="margin-top: 10px">
      <label style="color: white; font-size: 10px">keep me logged in</label>
      <input style="margin-left: 5px" type="checkbox" (change)="keepLoggedin()">
    </div>


  </div>

</div>
