

hr {
  margin-left: 10px;
  margin-right: 10px;
}

/*.message-block {*/
/*  margin-left: 10px;*/
/*}*/


.go-up {
border: 3px solid #333232;
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #707070;
  font-size: 30px;
}

